<h1>Repositories</h1>
<hr>
Here is a collection below from the latest apps i compiled. All of them is made with 💚, but without any kind of warranty, so only try them on your own responsibility! Detailed everything necessary in the repositories own Readme.md file, but in case there is an issue or something is not clear, than i’m glad to help.

<ul class=repos>
	<!-- FLASHLIGHT -->
	<li class=repoitem>
	  	<a href="http://gregnau.github.io/Flashlight">
			<img src="https://raw.githubusercontent.com/gregnau/Flashlight/master/app/src/main/res/mipmap-hdpi/ic_launcher.png" alt="Flashlight Android app"><br />
			Flashlight
		</a>
	</li>

	<!-- COMPASS -->
	<li class=repoitem>
	  	<a href="http://gregnau.github.io/Compass">
			<img src="https://raw.githubusercontent.com/gregnau/Compass/master/app/src/main/res/mipmap-hdpi/ic_launcher.png" alt="Compass Android app"><br />
			Compass
		</a>
	</li>

	<!-- PORTIEK VERLICHTING -->
	<li class=repoitem>
	  	<a href="http://gregnau.github.io/PortiekVerlichting">
			<img src="https://raw.githubusercontent.com/gregnau/PortiekVerlichting/master/app/src/main/res/mipmap-hdpi/ic_launcher.png" alt="Portiek Verlichting Android app"><br />
			Portiek Verlichting
		</a>
	</li>

	<!-- KONTROL -->
	<li class=repoitem>
	  	<a href="http://gregnau.github.io/Kontrol58">
			<img src="https://raw.githubusercontent.com/gregnau/Kontrol58/master/app/src/main/res/mipmap-hdpi/ic_launcher.png" alt="Kontrol⁵⁸ Android app"><br />
			Kontrol⁵⁸
		</a>
	</li>

	<!-- WIRELESS RC ADAPTER -->
	<li class=repoitem>
	  	<a href="http://gregnau.github.io/wireless_rc_adapter">
			<img src="https://raw.githubusercontent.com/gregnau/wireless_rc_adapter/master/wiring.png" alt="Wireless RC Adapter"><br />
			Wireless RC Adapter
		</a>
	</li>

	<!-- SMARTSTOVE -->
	<li class=repoitem>
	  	<a href="http://gregnau.github.io/SmartStove">
			<img src="https://raw.githubusercontent.com/gregnau/SmartStove/master/torino_kachel.png" alt="SmartStove"><br />
			SmartStove
		</a>
	</li>

	<!-- OPEN-SMART-RGB-LED-TOOL -->
	<li class=repoitem>
	  	<a href="http://gregnau.github.io/open-smart_led_strip_driver_tool">
			<img src="https://raw.githubusercontent.com/gregnau/open-smart_led_strip_driver_tool/master/board.gif" alt="Open-Smart RGB Led Strip Driver Tool"><br />
			Open-Smart RGB Led Strip Driver Tool
		</a>
	</li>

	<!-- ORIGINAL WEBGUI -->
	<li class=repoitem>
	  	<a href="https://github.com/gregnau/webgui">
			<img src="https://raw.githubusercontent.com/gregnau/webgui/master/apple-touch-icon-iphone-retina-display.png" alt="An Updated WebGUI for Pilight"><br />
			Pilight WebGUi
		</a>
	</li>

	<!-- KONTROL WEBGUI -->
	<li class=repoitem>
	  	<a href="https://github.com/gregnau/webgui/tree/kontrol">
			<img src="https://raw.githubusercontent.com/gregnau/webgui/kontrol/apple-touch-icon-iphone-retina-display.png" alt="A Custom WebGUI for Pilight"><br />
			Kontrol⁵⁸ WebGUi
		</a>
	</li>

	<!-- EURODOMEST-BLEBULB -->
	<li class=repoitem>
	  	<a href="https://github.com/gregnau/eurodomest-rgb-blebulb">
			<img src="https://raw.githubusercontent.com/gregnau/eurodomest-rgb-blebulb/master/eurodomest-rgb-blebulb.png" alt="Eurodomest RGB LED Bluetooth BLE bulb linux tool"><br />
			Eurodomest RGB Lamp
		</a>
	</li>

	<!-- WEATHER STATION -->
	<li class=repoitem>
	  	<a href="https://github.com/gregnau/attiny_weather_station">
			<img src="https://raw.githubusercontent.com/gregnau/attiny_weather_station/master/wiring.jpg" alt="ATtiny Weather Station"><br />
			433mHz Weather Station
		</a>
	</li>
</ul>
